.img-container {
  overflow: hidden;
}

.text-container {
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 93%;

  h1 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  @media (min-width: 375px) {
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 1.9rem;
    }

    h3 {
      font-size: 1.1rem;
    }
  }

  @media (min-width: 768px) {
    top: 40%;
    left: 53%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 2.9rem;
    }

    h3 {
      font-size: 2.1rem;
    }
  }
}

.img {
  height: auto;
  width: 100vw;
  transition: 0.5s ease-in-out;

  &:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: blur(1px);
  }
}

.welcome-btn {
  z-index: 1;
  text-decoration: none;
  color: white;

  &:hover {
    background-color: #fcc3a6;
  }
}

.welcome-btn,
.welcome-btn:after {
  width: 160px;
  height: 40px;
  font-size: 0.9rem;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #fcc3a6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


  @media (min-width:768px) {


    right: 30px;

  }

  @media (min-width:1024px) {


    right: 550px;

  }

  @media (min-width:1440px) {

    left: 100px;

  }

  @media (min-width:2500px) {

    left: 10px;

  }

}

.welcome-btn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "Welcome to MotorOne!";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #fcc3a6 3%,
    #fcc3a6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #fcc3a6;
  clip-path: var(--slice-0);
}

.welcome-btn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .welcome-btn,
  .welcome-btn:after {
    font-size: 1.3rem;
    padding-top: 10px;
    width: 180px;
    height: 86px;
  }
}

.text-driver-container {
  bottom: 5px;

  @media (min-width:1440px) {


    top: 5px;

  }

  .text-1 {
    font-size: 1rem;
  }

  .text-2 {
    font-size: 0.9rem;
  }

  @media (min-width: 768px) {
    .text-1 {
      font-size: 3rem;
    }

    .text-2 {
      font-size: 2rem;
    }

  }

}

@media (min-width: 768px) {
  .btn-container {
    right: 195px;
  }
}


.cons-btn{

  @media (min-width:320px) {


  line-height: 1;

  }

  @media (min-width:768px) {


    line-height: 1.55;

    }


}
