<div class="position-relative">

  <div class="img-container">

    <img class="img" src="../../../assets/f1-cars-3840x2160-18246.png" alt="img-cars">

  </div>
  <div class="col-md-6 p-lg-5 mx-auto my-5 position-absolute text-container">
    <h1 class="display-1 fw-bold text-white">Where F1 belongs.</h1>
    <h3 class="fw-normal mb-3 text-white">Discover Motor one!</h3>
  </div>


</div>

<div class="position-relative">

  <div class="img-container">

    <img class="img" src="../../../assets/ai-generated-a-driver-on-a-race-track-and-holding-his-hands-up-free-photo.png"
      alt="img-drivers">

  </div>

  <div class="col-md-6 p-lg-5 mx-auto my-5 position-absolute text-container">
    <div class="position-relative">
      <div class="text-driver-container position-absolute">
        <h1 class="display-1 fw-bold text-white text-1">Discover all F1 drivers.</h1>
        <h3 class="fw-normal mb-3 text-white text-2">Choose from those who made the history of F1!</h3>
      </div>
      <div class="position-absolute btn-container">
        <a class="welcome-btn btn btn-danger py-2" routerLink="/drivers">Go to drivers.</a>
      </div>
    </div>

  </div>


</div>

<div class="position-relative">

  <div class="img-container">

    <img class="img" src="../../../assets/constructors.png"
      alt="img-drivers">

  </div>

  <div class="col-md-6 p-lg-5 mx-auto my-5 position-absolute text-container">
    <div class="position-relative">
      <div class="text-driver-container position-absolute">
        <h1 class="display-1 fw-bold text-white text-1">Discover all F1 constructors.</h1>
        <h3 class="fw-normal mb-3 text-white text-2">Explore all F1 teams who made history!</h3>
      </div>
      <div class="position-absolute btn-container">
        <a class="welcome-btn btn btn-danger cons-btn" routerLink="/drivers">Go to constructors.</a>
      </div>
    </div>

  </div>


</div>

<div class="position-relative">

  <div class="img-container">

    <img class="img" src="../../../assets/circtuits.png"
      alt="img-drivers">

  </div>

  <div class="col-md-6 p-lg-5 mx-auto my-5 position-absolute text-container">
    <div class="position-relative">
      <div class="text-driver-container position-absolute">
        <h1 class="display-1 fw-bold text-white text-1">Discover all F1 circuits.</h1>
        <h3 class="fw-normal mb-3 text-white text-2">Take a look of all iconic tracks!</h3>
      </div>
      <div class="position-absolute btn-container">
        <a class="welcome-btn btn btn-danger py-2" routerLink="/circuits">Go to circuits.</a>
      </div>
    </div>

  </div>


</div>

