<div class="img-back" [ngStyle]="{'background-image': 'url(../../../../../../assets/' + circuit[0].country_code + '.png)'}">
  <section class="detail-container">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center w-100 img-back">
        <div class="col-md-6">
          <div class="small mb-1 text-white">Circuit</div>
          <h1 class="display-5 fw-bolder text-white">{{circuit[0].meeting_official_name}}</h1>
          <div class="fs-5 mb-5">
            <span class="text-white">{{circuit[0].country_code}}</span>
          </div>
          <ul class="text-white">
            <li><span class="head-text">Location:</span> {{circuit[0].location}}</li>
            <li><span class="head-text">Country:</span> {{circuit[0].country_name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
