<div class="container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="logIn()" >
    <h1 class="h3 mb-3 fw-normal text-white">Please sign in to MotorOne!</h1>

    <div class="form-floating">
      <input id="username" type="username" class="form-control form__field" formControlName="username" [ngClass]="{'is-Valid': isValid('username'), 'is-Invalid': isInvalid('username')}" placeholder="Username">
      <label class="form__label">Username</label>
      <span *ngIf="loginForm.controls['username'].dirty" [ngClass]="{'valid': isValid('username'), 'invalid': isInvalid('username')}">{{msg.username}}</span>
    </div>
    <div class="form-floating">
      <input id='password' type="password" class="form-control form__field" formControlName="password" [ngClass]="{'is-Valid': isValid('password'), 'is-Invalid': isInvalid('password')}" placeholder="Password">
      <label class="form__label">Password</label>
      <span *ngIf="loginForm.controls['password'].dirty" [ngClass]="{'valid': isValid('password'), 'invalid': isInvalid('password')}">{{msg.password}}</span>
    </div>
    <p class="text-white mt-2">Not registered? Please <a class="login-link" routerLink="/auth/register">sign up.</a></p>
    <button class="btn btn-primary w-100 py-2 welcome-btn" type="submit">Sign in</button>
  </form>
</div>
