.driver-container{

  margin-top: 150px;

}
.driver-img{

  height: 200px;
  width: 200px;


}

.card-container{

  height: 200px;

}

.driver-name{

  font-size: 1.4rem;

}

.driver-text{

  color: #FF003D;
  text-decoration: none;

}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: red;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.driv-container{

  background-image: url(../../../assets/f1.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s linear;


  &:hover{

    transform: scale(1.02)
  }

}

.bg-image{

  background-position: right 35% bottom 95%;
  background-size: cover;
  background-repeat: no-repeat;

}


.team-logo{

  top: 40%;
  left: 45%;
  transform: translate(100%, -100%);
  height: 150px;
  width: auto;
  z-index: 1;


}

.team-logo-container{

  height: 200px;

}
