<div class="row w-100 driver-container">
  <h2 class="text-white ms-4 mb-4">Explore all F1 Circuits</h2>
  <div class="col-12 col-md-4 track-container" *ngFor="let c of paginate(circuits, currentPage, itemsPerPage)">
    <div class="bg-image ms-4" [ngStyle]="{'background-image': 'url(../../../assets/' + c.country_code + '.png)'}">
      <div class="card-container row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-white">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-1 driver-text">Circuit</strong>
          <h3 class="mb-0 driver-name">{{c.meeting_official_name}}</h3>
          <h3 class="mb-0 driver-name fw-bold text-uppercase surname fs-5">{{c.country_code}}</h3>
          <p class="card-text mb-auto">{{c.location}}</p>
          <a class="driver-text" [routerLink]="['/circuits/details', c.circuit_key]"><span class="me-1">See circuit details</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button class="page-link" (click)="currentPage = 1" [disabled]="currentPage === 1">&laquo;</button>
  <button class="page-link" (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">&lt;</button>
  <button *ngFor="let page of pagesArray(maxPages(circuits, itemsPerPage))" class="page-link" (click)="currentPage = page">{{ page }}</button>
  <button class="page-link" (click)="currentPage = currentPage + 1" [disabled]="currentPage === maxPages(circuits, itemsPerPage)">&gt;</button>
  <button class="page-link" (click)="currentPage = maxPages(circuits, itemsPerPage)" [disabled]="currentPage === maxPages(circuits, itemsPerPage)">&raquo;</button>
</div>
