<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img class="footer-logo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne">
      </a>
    </div>

    <div class="col">
      <h5 class="text-white">MotorOne</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Drivers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Constructors</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Circuits</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
      </ul>
    </div>
    <p class="my-2 text-white">© MotorOne, Emanuele Barone, 2024</p>
  </footer>
</div>
