<!-- NOT LOGGED -->

<header *ngIf="!isLoggedIn$" id="nav-pc1" [ngClass]="{'navbar-inverse': isScrolled}" class="d-md-flex d-none flex-wrap justify-content-center py-3 mb-4">
  <a routerLink="/homepage"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span
      class="fs-4 text-white d-none d-lg-inline">MotorOne</span>
  </a>

  <ul class="nav nav-pills me-3 mt-4">
    <li class="nav-item welcome-btn"><a routerLinkActive="active" routerLink="/homepage" class="nav-text"
        aria-current="page">Home</a></li>
        <li class="nav-item welcome-btn me-2"><a routerLinkActive="active" routerLink="/drivers/search" class="nav-text">Drivers</a></li>
        <li class="nav-item welcome-btn me-5"><a routerLinkActive="active" href="#" class="nav-text">Constructors</a></li>
        <li class="nav-item welcome-btn ms-2 me-2"><a routerLinkActive="active" routerLink="/circuits/search" class="nav-text">Circuits</a></li>
    <li class="nav-item welcome-btn"><a routerLinkActive="active" routerLink="/auth/login" class="nav-text">Login</a></li>
    <li class="nav-item welcome-btn"><a routerLinkActive="active" routerLink="/auth/register" class="nav-text">Register</a></li>
  </ul>
</header>

<!-- LOGGED -->

<header *ngIf="isLoggedIn$" id="nav-pc1" class="d-md-flex d-none flex-wrap justify-content-center py-3 mb-4" [ngClass]="{'navbar-inverse': isScrolled}">
  <a routerLink="/homepage"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span
      class="fs-3 text-white d-none d-lg-inline">MotorOne</span>
  </a>

  <ul class="nav nav-pills me-3 mt-4">
    <li class="nav-item welcome-btn"><a routerLinkActive="active" routerLink="/homepage" class="nav-text"
        aria-current="page">Home</a></li>
    <li class="nav-item welcome-btn me-2"><a routerLinkActive="active" routerLink="/drivers/search" class="nav-text">Drivers</a></li>
    <li class="nav-item welcome-btn me-5"><a routerLinkActive="active" href="#" class="nav-text">Constructors</a></li>
    <li class="nav-item welcome-btn ms-2 me-2"><a routerLinkActive="active" routerLink="/circuits/search" class="nav-text">Circuits</a></li>
    <li class="nav-item welcome-btn me-2"><a routerLinkActive="active" [routerLink]="['/profile/', myUser.user.id]"
        class="nav-text text-white">Profile</a></li>
    <li class="nav-item welcome-btn"><a (click)="logout()" class="nav-text text-white">Logout</a></li>
  </ul>
</header>

<!-- MOBILE LOGGED -->

<header *ngIf="isLoggedIn$" id="nav-mobile" data-bs-theme="dark"
  class="d-flex d-md-none flex-wrap justify-content-center py-3">
  <ul class="nav me-3">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
      aria-controls="offcanvasTop"><i class="bi bi-list nav-top-icon ms-2 me-4"></i></button>

    <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Discover MotorOne</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex align-items-end justify-content-around">
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" routerLink="/homepage" class="nav-link"
            aria-current="page"><i class="bi bi-house-fill nav-icon"></i><span class="off-c-text">Home</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon" src="../../../assets/racing-helmet-icon-2048x1647-7f2fft5c.png"><span
              class="off-c-text">Drivers</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon car-icon" src="../../../assets/3538999-200.png"><span
              class="off-c-text">Constructors</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon track-icon" src="../../../assets/circuit-icon.png"><span
              class="off-c-text">Circuits</span></a></li>
      </div>
    </div>
    <a routerLink="/homepage"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span
        class="fs-4 d-none">MotorOne</span>
    </a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop1"
      aria-controls="offcanvasTop"><i class="bi bi-person-circle nav-top-icon ms-4"></i></button>

    <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasTop1" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Profile/Log-out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex align-items-end justify-content-around">
        <li data-bs-toggle="offcanvas" class="nav-item mob-nav-item"><a routerLinkActive="active"
            [routerLink]="['/profile/', myUser.user.id]" class="nav-link">
            <i class="bi bi-person-lines-fill nav-icon"></i><p class="off-c-text">Profile</p></a></li>
        <li class="nav-item mob-nav-item"><a (click)="logout()" class="nav-link"><i
              class="bi bi-door-open-fill nav-icon"></i><p class="off-c-text">Log-Out</p></a></li>
      </div>
    </div>
  </ul>
</header>

<!-- MOBILE NOT LOGGED -->

<header *ngIf="!isLoggedIn$" id="nav-mobile" data-bs-theme="dark"
  class="d-flex d-md-none flex-wrap justify-content-center py-3">
  <ul class="nav me-3">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
      aria-controls="offcanvasTop"><i class="bi bi-list nav-top-icon ms-2 me-4"></i></button>

    <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Discover MotorOne</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex align-items-end justify-content-around">
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" routerLink="/homepage" class="nav-link"
            aria-current="page"><i class="bi bi-house-fill nav-icon"></i><span class="off-c-text">Home</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon" src="../../../assets/racing-helmet-icon-2048x1647-7f2fft5c.png"><span
              class="off-c-text">Drivers</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon car-icon" src="../../../assets/3538999-200.png"><span
              class="off-c-text">Constructors</span></a></li>
        <li class="nav-item mob-nav-item"><a routerLinkActive="active" href="#" class="nav-link"><img
              class="nav-icon my-icon track-icon" src="../../../assets/circuit-icon.png"><span
              class="off-c-text">Circuits</span></a></li>
      </div>
    </div>
    <a routerLink="/homepage"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="ms-3 me-3 navLogo" src="../../../assets/logo-motorOne.png" alt="logo-motorOne"><span
        class="fs-4 d-none">MotorOne</span>
    </a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop1"
      aria-controls="offcanvasTop"><i class="bi bi-person-circle nav-top-icon ms-4"></i></button>

    <div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="offcanvasTop1" aria-labelledby="offcanvasTopLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Profile/Log-out</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex align-items-end justify-content-around">
        <li data-bs-toggle="offcanvas" class="nav-item mob-nav-item"><a routerLinkActive="active"
            routerLink="/auth/login" class="nav-link">
            <i class="bi bi-box-arrow-in-right nav-icon"></i><p class="off-c-text">Sign-in</p></a></li>
        <li class="nav-item mob-nav-item"><a class="nav-link" routerLink="/auth/register"><i
              class="bi bi-person-plus-fill nav-icon"></i><p class="off-c-text">Register</p></a></li>
      </div>
    </div>
  </ul>
</header>
